@import "tailwindcss";
@import "./fonts.css";

@layer base {
  :root {
    --default-font-family: 'General Sans', ui-sans-serif, system-ui, sans-serif;
    --default-font-size: 16px;
    --default-line-height: 1.6;
  }
}

@theme {
  --color-primary: #FFFFFF;
}

body {
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  background-color: #FFFFFF;
  color: #000000;
}

.container {
  @apply mx-auto px-4 xl:px-0 max-w-380;
}

